* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background: #DCDDD7;
    padding: 0 0.1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.home {
    position: relative;
    height:90vw;
}

.lico {
    margin: 4% 0 0 3%;
    position: relative;
}

.lico img {
    object-fit: cover;
    width: 54%;
}

.ludmila {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FCAD09;
width: 80vw;
    height: 12vw;
    top: 9%;
    align-content: center;
    align-items: flex-end;
    /* padding-right: 1vw; */
    color: #FFF;
}
.ludmila-text {
    font-size: 4vw;
    margin-bottom: -0.5%;
        margin-right: 5.5%;
}

.ved_astr {
    font-size: 2vw;
    margin-right: 3%;
}

.missia {
    position: absolute;
    left: 57%;
    top: 35%;
    width: 28%;
    line-height: 2.5vw;
}

.missia p {
    font-size: 2.3vw;
    font-family: 'HeadlandOne', serif;
    color: rgba(0, 0, 0, 0.50);
}

.avtor_kursov {
    font-family: 'Lora', serif;
    color: #fff;
    position: absolute;
    background-color: #FCAD09;
    width: 70%;
    right: 0%;
     top: 71%;
    padding: 7% 3% 3% 3%;
}

.avtor_kursov p {
    font-family: 'Lora', serif;
    font-size: 2.02vw;
    text-transform: uppercase;
    line-height: 3vw;
}

/* текст */
.blocktexta {
    height: 90vw;
    margin-bottom: 39%;
}
.mnogonext {
    width: 67vw;
    line-height: 4vw;
    margin-left: 7%;
}

.mnogonext p{
    color: rgba(0, 0, 0, 0.66);
    font-size: 3vw;
    font-family: 'HeadlandOne', serif;
}


.zapistsa {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.zapistsa p {
    color: #FFF;
    font-size: 1.925vw;
    font-family: Lora, serif;
    font-weight: 500;
    text-transform: uppercase;
}



@media only screen and (max-width: 600px) and (min-device-width: 320px) {
  * {
    device-pixel-ratio: 1;
  }
}