html,
body {
    background: #DCDDD7;
    padding: 0 0.1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.home {
    position: relative;
    height:81vw;
}

.lico {
    margin: 4% 0 0 3%;
    position: relative;
}

.lico img {
    object-fit: cover;
    width: 47%;
}

.ludmila {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FCAD09;
    width: 72vw;
    height: 11vw;
    top: 9%;
    align-content: center;
    align-items: flex-end;
    padding-right: 1vw;
    color: #FFF;
}

.ludmila-text {
    font-size: 4vw;
    width: 20vw;
    margin-bottom: -0.5%;
}

.ved_astr {
    font-size: 2vw;
    margin-right: 3%;
}

.missia {
    position: absolute;
    left: 50%;
    top: 37%;
    width: 28vw;
    line-height: 3.5vw;
}

.missia p {
    font-size: 1.5vw;
    font-family: 'HeadlandOne', serif;
    color: rgba(0, 0, 0, 0.50);
}

.avtor_kursov {
    font-family: 'Lora', serif;
    color: #fff;
    position: absolute;
    background-color: #FCAD09;
    width: 70vw;
    right: 0%;
    top: 68%;
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    padding: 7% 3% 3% 3%;
}

.avtor_kursov p {
    font-family: 'Lora', serif;
    font-size: 2.02vw;
    text-transform: uppercase;
    line-height: 3vw;
}

/* текст */
.blocktexta{
    height: 90vw;
}
.mnogonext {
    width: 67vw;
    line-height: 4vw;
    margin-left: 7%;
}

.mnogonext p{
    color: rgba(0, 0, 0, 0.66);
    font-size: 2vw;
    font-family: 'HeadlandOne', serif;
}


.zapistsa {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.zapistsa p {
    color: #FFF;
    font-size: 1.925vw;
    font-family: Lora, serif;
    font-weight: 500;
    text-transform: uppercase;
}