
html, body {
    width: 100%;
    background: #DCDDD7;
    font-size: 16px; /* Set your desired base font size */
}


/* размер ссылок хедора CSS */
.ff_header {
    font-size: 16px;
    font-family: 'Lora', serif;

}

.logo {
    background: url('../img/logo 1.png');
    width: 221px;
    height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: darken;
}

/* блок верхний*/
.perv_block {
    margin: 0 auto;
    position: relative;
    margin-right: 20px;
    min-width: 1200px;
}

/* первый прямоугольник*/
.perv_kvadrat {
    position: absolute;
    top: 23%;
    transform: translate(0%, -118%);
    background: #FCAD09;
    width: 1100px;
    height: 150px;
}

.text_per_kvadr {
    margin-left: 764px; /* Adjust the value according to your desired shift */
}


.Ludmila_yasina {
    font-family: 'Lora', serif;
    font-size: 66px;
    color: #FFFFFF;
    line-height: 56px;
}

.ved_astrolog {
    font-family: 'Headland One', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 112px;
    line-height: 28px;
}

/* второй прямоугольник*/

.vtor_kvadrat {
    position: absolute;
    transform: translate(0%, -25%);
    background: #FCAD09;
    width: 1021px;
    height: 440px;
    margin-left: 233px;
}

.text_vtor_kvadrata {
    margin-left: 33px;
    position: absolute;
    margin-top: 120px;
}

.avtor_kursov {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    color: #FFFFFF;
}

/* текст справа */
.btext {
    position: relative;
    width: 418px;
    height: 360px;
    transform: translate(181%, -142%);
}

.text_missia {
    font-family: 'Headland One', serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 25px;
}

/* фотография */
.foto {
    z-index: 2;
    position: relative;
    left: 62px;
    top: 0;
    width: 672px;
}

.mnogotexta {
    position: absolute;
    width: 35em;
    font-family: 'HeadlandOne', serif;
    font-size: 1.8em;
    margin-left: 4em;
    line-height: 2em;
    margin-top: 15em;
    color: rgba(0, 0, 0, 0.66);
    text-align: justify;
}


.ovalik {
    background: #FCAD09;
    position: absolute;
    transform: translate(25em, 97em);
    border-radius: 215px;
    width: 26em;
    height: 5.4em;
}

.zapis_kons {
    position: absolute;
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    margin-top: 1.2rem;
    font-family: 'Headland One', sans-serif;
    width: 18em;
}


.social {
    display: flex;
    flex-direction: column;
    line-height: 88px;
    position: absolute;
    transform: translate(39px, 1778px);
    max-width: 54px;
    max-height: 264px;
}

.krug {
    background: #FCAD09;
    position: absolute;
    transform: translate(1104px, 1830px);
    border-radius: 221px;
    width: 102px;
    height: 100px;
}

.vopros {
    font-family: 'HeadlandOne', serif;
    position: absolute;
    color: #FFFFFF;
    font-size: 64px;
    margin-left: 37px;
    margin-top: 1px;
}

.avtor_prava {
    background: #FCAD09;
    position: absolute;
    transform: translate(0px, 2042px);
    width: 1400px;
    height: 100px;
}

.text_prav {
    font-family: 'HeadlandOne', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    width: 1117px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 50px;
}

@media (max-device-width: 768px) {
    .ovalik {
        transform: translate(25rem, 108rem);
        width: 26.1rem;
    }

    .text_missia {
        font-size: 27px;
    }

}


