html, body {
    width: 100%;

  }


/* размер ссылок хедора CSS */
.ff_header{
    font-size: 16px;
    font-family: 'Lora';

}

.logo {
    background: url('../img/logo 1.png');
    width: 221px;
    height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: darken;
}
/* блок верхний*/
.perv_block {
        margin: 0 auto;
    position: relative;
    margin-right: 20px;
    min-width: 1400px;
  }
/* первый прямоугольник*/
.perv_kvadrat {
    position: absolute;
    top: 23%;
    transform: translate(0%, -44%);
    background: #FCAD09;
    width: 1100px;
    height: 150px;
}
.text_per_kvadr {
    margin-left: 764px; /* Adjust the value according to your desired shift */
  }


.Ludmila_yasina {
    font-family: 'Lora';
    font-size: 71px;
    color: #FFFFFF;
    line-height: 56px;
}
.ved_astrolog {
    font-family: 'HeadlandOne';
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 112px;
    line-height: 28px;
}

/* второй прямоугольник*/

.vtor_kvadrat {
    position: absolute;
    transform: translate(0%, -25%);
    background: #FCAD09;
    width: 1021px;
    height: 440px;
    margin-left: 233px;
}
.text_vtor_kvadrata {
    margin-left: 33px;
    position: absolute;
    margin-top: 120px;
}

.avtor_kursov {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 65px;
    color: #FFFFFF;
}
/* текст справа */

.text_missia {
    position: absolute;
    width: 420px;
    height: 439px;
    transform: translate(180%, -132%);
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 47px;
    color: rgba(0, 0, 0, 0.5);
}
/* фотография */
.foto {
    z-index: 2;
    position: relative;
    left: 62px;
    top: 0px;
    max-width: 42em;
}


