* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', 'HeadlandOne';
}


li {
    list-style: none;
}

a {
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.66);
    text-decoration: none;
}

a:hover {
    color: orange;
}




/* Header */
header {
    position: relative;

}

.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/logo 1.png") no-repeat,none ;
    max-width: 254px;
    height: 139px;
    background-size: contain;
    background-position: center;
    mix-blend-mode: darken;
}

.navbar {
    width: 100%;
    height: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navbar .links {
    display: flex;
    gap: 1rem;
}

.navbar .togler_btn {
    color: orange;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: floralwhite;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #DCDDD7;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown_menu */
.dropdown_menu {
    display: none;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0 auto;
}

.dropdown_menu.open {
    height: 300px;
}

.dropdown_menu li {
    padding: 0.7rem;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line {
    width: 80%;
    max-width: 878px;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.27);
    margin: 0 auto;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .togler_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .line {
        display: none;
    }
}


@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}