* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #DCDDD7;;
    padding: 0 0.1rem;
}


/* БЛОК С КУРСАМИ */
main {
    position: relative;
    margin: 0 auto;
}

.sect_block {

}

.Traning_curs {
    position: absolute;
    width: 89%;
    background-color: #FCAD09;
    display: flex;
    justify-content: center;
    margin: 7% 0 0 10%;
}

.Traning_curs h1 {
    color: #FFF;
    font-size: 3.525vw;
    font-family: Lora, serif;
    font-weight: 500;
    letter-spacing: 1vw;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.35) 0 4px 4px;
}

.block_kart {

    display: flex;
    justify-content: center;

}

.block_kart img {
    object-fit: cover;
    width: 29%;
    padding: 14% 1.2% 0 0;
    z-index: 2;
}

.kvadrat_kartinki {
    position: absolute;
    background-color: #FCAD09;
    width: 80%;
    height: 7vw;
    margin: 48% 0 20% 21%;
}

.ho4y_kurs {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.ho4y_kurs p {
    color: #FFF;
    font-size: 2.625vw;
    font-family: Lora, serif;
    font-weight: 500;
    letter-spacing: 0.60375vw;
    text-transform: uppercase;
}

.zapis_kurs {
    text-align: center;

}

.zapis_kurs p {
    font-size: 3vw;
    font-family: Lora, serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 2%;
}

.new_line {
    display: block;
}


.linebott1sect {
    margin: 10% 20% 0 16%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 0.1875rem;
    width: 68%;
}

/*  окончание первого блока*/
.vtor_block {
}

.kurs_astroSTART {
    text-align: center;
    margin-top: 10%;
}

.kurs_astroSTART p {
    font-size: 3vw;
    font-family: Lora, serif;
    font-weight: 400;
}

.pro_astrostart {
    text-align: center;
    margin-top: 4%;
}

.pro_astrostart p {
    font-size: 2.5vw;
    font-family: Lora, serif;
    font-weight: 400;
    line-height: 3.5vw;
    letter-spacing: 0.5vh;
}

.lico_astroST {
    display: flex;
    justify-content: center;
}

.lico_astroST img {
    object-fit: cover;
    width: 73%;
    padding: 6% 1.2% 0 0;

}

/* план обучения*/
.plan_obuchenia {
    justify-content: center;
    display: flex;
    margin-top: 2%;
}

.plan_obuchenia p {
    font-size: 3vw;
    font-family: Lora, serif;
}

.section {
    display: flex;
    align-items: center;
    margin-top: 2%;

}

.section h1 {
    color: rgba(0, 0, 0, 0.66);
    font-family: Lora, serif;
    margin-right: 4%;
    font-size: 4vw;
}

.section p {
    text-align: justify;
    font-size: 2.5vw;
    font-family: Lora, serif;
}


.zapistsa {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.zapistsa p {
    color: #FFF;

    font-size: 2.625vw;
    font-family: Lora, serif;
    font-weight: 500;
    letter-spacing: 0.60375vw;
    text-transform: uppercase;
}

/* конец второго блока*/

/* третий блок*/

.treti_block {
}

.finasy_bogatstvo {
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

.finasy_bogatstvo p {
    font-size: 3vw;
    font-family: Lora, serif;
    font-weight: 400;
}

.nakurse_uznaem {
    margin: 5% 0 0 7%;
    font-size: 2.5vw;
    font-family: Lora, serif;
    font-weight: 400;
}

.nakurse_uznaem p {
    font-family: Lora, serif;
    font-weight: 400;
}

.punkty {
    margin: 3% 0 0 0;
}

.punkty p {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 2.4vw;
    margin-bottom: 1%;
}

.lico_finansy {
    display: flex;
    justify-content: flex-end;
}

.lico_finansy img {
    object-fit: cover;
    width: 45%;
    margin: 5% 2% 0 0;
}

.punkty2 {
    justify-content: space-around;
    display: flex;
    font-size: 2.3vw;
    flex-direction: column;
}

.punkty2 p {
    font-family: Lora, serif;
}


.krasivie_punkty {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.kvadrat_kras_punkt {
    position: relative;
    width: 50vw;
    height: 7vw;
    background-color: #FCAD09;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 5% 2% 0 0;
}

.kvadrat_kras_punkt p {
    color: #FFF;
    font-size: 2.4vw;
    font-family: Lora, serif;
    font-style: normal;
    font-weight: 300;
    padding-left: 7%;
    line-height: 1.2em;
    letter-spacing: 0.14em;
}

.cifra {
    position: absolute;
    bottom: 0.8vw;
    right: 96%;
}

.cifra h1 {
    font-family: Lora, serif;
    color: rgba(0, 0, 0, 0.53);
    font-size: 8vw;
}

.result5ned p {
    font-size: 2.4vw;
    font-family: Lora, serif;
    margin-top: 10%;
    line-height: 3.6vw;
    letter-spacing: 0.1vw;
}

/* четвертый блок */


.chetvert_block {
}

.Astrolog_prosto {
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

.Astrolog_prosto p {
    font-size: 3vw;
    font-family: Lora, serif;
    font-weight: 400;
}

.pro_astro_prosto {
    text-align: center;
    margin-top: 4%;
}

.pro_astro_prosto p {
    font-size: 2.5vw;
    font-family: Lora, serif;
    font-weight: 400;
    line-height: 3.5vw;
    letter-spacing: 0.5vh;
}

.nakurse_nauchimsy {
    margin: 5% 0 4% 26%;
    font-size: 2.5vw;
    font-family: Lora, serif;
    font-weight: 400;
    letter-spacing: 0.28vw;
}

.nakurse_nauchimsy p {
    font-family: Lora, serif;
    font-weight: 400;
}

.lico_astro_prosto {
    display: flex;
    justify-content: flex-end;
}


.lico_astro_prosto img {
    object-fit: cover;
    width: 54%;
    margin: 0 2% 0 0;
}

.punkty_astro_prosto {
    justify-content: space-around;
    display: flex;
    font-size: 2.3vw;
    flex-direction: column;
    margin-left: 1%;
}

.punkty_astro_prosto p {
    font-family: Lora, serif;
    margin-bottom: 1%;
}

.krasivie_punkty_2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.kvadrat_kras_punkt_2 {
    position: relative;
    width: 29vw;
    height: 7vw;
    background-color: #FCAD09;
    display: flex;
    align-items: center;
    margin: 5% 2% 0 0;
}

.cifra_2 {
    position: absolute;
    top: -5vw;
    font-weight: 600;
    left: 2vw;
}

.cifra_2 h1 {
    font-family: Lora, serif;
    color: rgba(0, 0, 0, 0.53);
    font-size: 13vw;
}

.cifra_2 p {
    font-family: Lora, serif;
    color: rgba(0, 0, 0, 0.53);
    font-size: 6vw;
    position: absolute;
    top: 4vw;
    left: 6vw;
    letter-spacing: 1vw;
    font-weight: 400;
    padding-left: 0.5vw;
}

.Text_k_modulym {
    font-size: 2.33vw;
    font-family: Lora, serif;
    margin-top: 6%;
    line-height: 3.6vw;
    letter-spacing: 0.1vw;
}


.kak_pohod_obuch {
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

.kak_pohod_obuch p {
    font-size: 3vw;
    font-family: Lora, serif;
    font-weight: 400;
    margin-bottom: 10%;
}


.text_kakprohodit_obuchen h1 {
    font-size: 2.55vw;
    font-family: Lora, serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.text_kakprohodit_obuchen p {
    font-size: 2.5vw;
    font-family: Lora, serif;
    font-weight: 400;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.linebott1sect_obuch {
    margin: 3% 20% 5% 16%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 0.1875rem;
    width: 68%;
}

/* footer */

footer {
    position: relative;
    padding: 0;
}
.social{
    display: flex;
    flex-direction: column;
}

.social img{
    width: 3vw;
    margin-bottom: 3%;
    margin-left: 2%;

}

.krug {
    background: #FCAD09;
    position: absolute;
    border-radius: 4vw;
    width: 6vw;
    height: 6vw;
    right: 3vw;
    top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vopros {
    font-family: 'HeadlandOne', serif ;
    color: #FFFFFF;
    font-size: 6vw;

}

.avtor_prava {
    background: #FCAD09;
}
.text_prav {
    font-family: 'HeadlandOne', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.5);
}

