* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', 'HeadlandOne', sans-serif;

}

body {
    height: 100vh;
    background-color: #DCDDD7;;
    padding: 0 2rem;
}


/* БЛОК С КУРСАМИ */
main {
    width: 1200px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.sect_block {
    max-width: 1200px;
}

.Traning_curs {
    position: absolute;
    width: 89%;
    background-color: #FCAD09;
    display: flex;
    justify-content: center;
    margin: 7% 0 0 10%;
}

.Traning_curs h1 {
    color: #FFF;
    font-size: 3.525vw;
    font-family: Lora;
    font-weight: 500;
    letter-spacing: 1vw;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.35) 0 4px 4px;
}

.block_kart {

    display: flex;
    justify-content: center;

}

.block_kart img {
    object-fit: cover;
    width: 29%;
    padding: 14% 1.2% 0 0%;
    z-index: 2;
}

.kvadrat_kartinki {
    position: absolute;
    background-color: #FCAD09;
    width: 80%;
    height: 5%;
    margin: 48% 0% 20% 21%;
}

.ho4y_kurs {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.ho4y_kurs p {
    color: #FFF;
    /* text-align: center; */
    font-size: 2.625vw;
    font-family: Lora;
    font-weight: 500;
    letter-spacing: 0.60375vw;
    text-transform: uppercase;
}

.zapis_kurs {
    text-align: center;

}

.zapis_kurs p {
    font-size: 3vw;
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    padding-top: 2%;
    line-height: 60%;
}

.new_line {
    display: block;
}


.linebott1sect {
    margin: 10% 20% 0 16%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 0.1875rem;
    width: 68%;
}

/*  окончание первого блока*/
.vtor_block {
    max-width: 1200px;
}

.kurs_astroSTART {
    text-align: center;
    margin-top: 10%;
}

.kurs_astroSTART p {
    font-size: 3vw;
    font-family: Lora;
    font-weight: 400;
}

.pro_astrostart {
    text-align: center;
    margin-top: 4%;
}

.pro_astrostart p {
    font-size: 2.5vw;
    font-family: Lora;
    font-weight: 400;
    line-height: 3.5vw;
    letter-spacing: 0.5vh;
}

.lico_astroST {
    display: flex;
    justify-content: center;
}

.lico_astroST img {
    object-fit: cover;
    width: 73%;
    padding: 6% 1.2% 0 0%;

}

/* план обучения*/
.plan_obuchenia {
    justify-content: center;
    display: flex;
    margin-top: 2%;
}

.plan_obuchenia p {
    font-size: 3vw;
    font-family: Lora;
}

.section {
    display: flex;
    align-items: center;
    margin-top: 2%;

}

.section h1 {
    color: rgba(0, 0, 0, 0.66);
    font-family: Lora;
    margin-right: 4%;
    font-size: 4vw;
}

.section p {
    text-align: justify;
    font-size: 2.5vw;
    font-family: Lora;
}


.zapistsa {
    display: flex;
    width: 35vw;
    height: 6vw;
    border-radius: 50px;
    background: #FCAD09;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.zapistsa p {
    color: #FFF;
    /* text-align: center; */
    font-size: 2.625vw;
    font-family: Lora;
    font-weight: 500;
    letter-spacing: 0.60375vw;
    text-transform: uppercase;
}