{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>L-ASTROPROEKT</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'img/2page/licocomp.png' %}" alt="foto" class="img-fluid foto">
        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>