{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>L-ASTROPROEKT</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_fotter/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_fotter/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">


</head>


<body>
<header>
    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>
    <div class="navbar">

        <ul class="links">
            <li><a href="{% url 'traning' %}">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="{% url 'about_me' %}">Обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
        </ul>
        <div class="togler_btn">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    <div class="line"></div>
    <div class="dropdown_menu ">
        <ul>
            <li><a href="{% url 'traning' %}">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="{% url 'about_me' %}">Oбо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
            <li><a href="#" class="action_btn">Записаться на курсы</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="home">
        <div class="avtor_kursov">
            <p>Автор курсов: «Астрология ПРОСТО», «Финансы и богатство», «Сам себе астролог», «АстроStart» и др.
                Автор различных астрологических пособий, мастер-классов. Основатель школы астрологии L-Астропроект
            </p>
        </div>
        <div class="ludmila">
            <p class="ludmila-text">Людмила <br> Ясина</p>
            <p class="ved_astr">ведический астролог</p>
        </div>
        <div class="lico">
            <img src="{% static 'img/2page/licocomp2.png' %}" alt="">
            <div class="missia">
                <p>Моя миссия - найти супер силу в человеке, помочь найти смысл жизни и обрести гармонию во всех
                    сферах.
                    И это я про все сферы жизни - отношения, работа, друзья, семья, хобби, деньги, внутренний
                    комфорт и
                    даже духовная эволюция. Все, что окружает, начинается с ТЕБЯ!</p>
            </div>

        </div>

    </div>
    <div class="blocktexta">
        <div class="mnogonext">
            <p>Я имею большой опыт в ведении бизнеса, а также много лет руководящей работы в различных направлениях:
                автошкола, снабжение завода, профтехобразование, спортивная школа, автосервис, школа
                программирования.Кроме того, я имею семью, я замужем и я многодетная мама.
                С 2018 года я начала профессионально заниматься астрологией. Консультирую и обучаю других.
                Основатель школы астрологии L-Астропроект. Автор обучающих курсов по астрологии, также пишу статьи,
                разрабатываю различные методические астрологические пособия, провожу мастер-классы и вебинары.Я
                новая, этому научу и тебя! 
                Через свободу и познание себя можно переродиться и стать новой лучшей версией себя. А я в этом
                помогу
                Если у тебя не хватает сил для новых начинаний, ставишь цели, но не можешь к ним прийти, потому что
                что-то тебе мешает, проживаешь дни одинаково, живешь в усталости, не знаешь как реализовать себя…
                или же у тебя трудности в отношениях с друзьями, коллегами, партнерами, не видишь смысла жизни… 
                Тогда тебе ко мне!
                Консультирую и обучаю самым разным направлениям: взаимоотношения, бизнес, финансы, предназначение,
                профориентация для подростков, детский гороскоп, астрология здоровья, астроминералогия и подбор
                камней, астрологические прогнозы и многое другое.
            </p>
        </div>
        <div class="zapistsa">
            <p>Записаться на Консультирую</p>
        </div>
    </div>
</main>
<footer>
    <div class="social">
        <img src="{% static 'img/free-icon-youtube-2111795 1.png' %}" alt="">
        <img src="{% static 'img/free-icon-vkontakte-4494490 1.png' %}" alt="">
        <img src="{% static 'img/free-icon-telegram-4701496 1.png' %}" alt="">
    </div>
    <div class="krug">
        <div class="vopros">?</div>
    </div>
    <div class="avtor_prava">
        <div class="text_prav">© 2023 Частичное или полное копирование информации с данного сайта для
            распространения на
            других ресурсах, в том числе и бумажных, строго запрещено. Все тексты и изображения являются
            собственностью сайта
        </div>
    </div>
</footer>
<script src='{% static "js/header.js" %}'></script>
</body>

</html>