{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L-ASTROPROEKT</title>
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_fotter/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_fotter/footer.css'%}">

</head>

<body>

<main>
    <header>
    <a href="{% url 'home' %}">
            <div class="logo"></div>
        </a>
        <div class="navbar">

            <ul class="links">
            <li><a href="{% url 'traning' %}">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="{% url 'about_me' %}">Обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
            </ul>
            <div class="togler_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
        <div class="line"></div>
        <div class="dropdown_menu ">
            <ul>
                <li><a href="#">Обучающие курсы</a></li>
                <li><a href="#">Мастер-классы</a></li>
                <li><a href="#">Бесплатные астрологические продукты</a></li>
                <li><a href="#">обо мне</a></li>
                <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
                <li><a href="#" class="action_btn">Записаться на курсы</a></li>
            </ul>
        </div>
    </header>

    <div class="home">
        <div class="shkola_ved_astrolog">
            <p>Школа ведической</p>
            <p>Астрологии людмилы</p>
            <p>Ясиной</p>
        </div>

        <div class="text_raskroite">
            <p>
                Раскройте сокровенную энциклопедию себя в своей натальной карте и найдите ответы на любые вопросы в
                вашей жизни, осуществляя все свои желания на пути к истинному счастью!"</p>
        </div>
                    <div class="telo"><img src="{% static 'img/тело.jpg' %}" alt=""></div>
    </div>
    <footer>
        <div class="social">
                <img src="{% static 'img/free-icon-youtube-2111795 1.png' %}" alt="">
                <img src="{% static 'img/free-icon-vkontakte-4494490 1.png' %}" alt="">
                <img src="{% static 'img/free-icon-telegram-4701496 1.png' %}" alt="">
        </div>
        <div class="krug">
            <div class="vopros">?</div>
        </div>
        <div class="avtor_prava">
            <div class="text_prav">© 2023 Частичное или полное копирование информации с данного сайта для
                распространения на
                других ресурсах, в том числе и бумажных, строго запрещено. Все тексты и изображения являются
                собственностью
                сайта
            </div>
        </div>
    </footer>
</main>

<script src='{% static "js/header.js" %}'></script>
</body>

</html>

