{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>

    <title>L-ASTROPROEKT</title>
</head>
<body>
    <div class="conteiner">
        <div class="page1top">
            <div class="header">
                <a class="logo" href="{% url 'home' %}"></a>
                <div class="line"></div>
                <div class="link">
                    <a class="helink1" href="">Обучающие курсы</a>
                    <a class="helink2" href="">Мастер-классы</a>
                    <a class="helink3" href="">Бесплатные астрологические продукты</a>
                    <a class="helink4" href="{% url 'about_me' %}">Обо мне</a>
                    <a class="helink5" href="">Консультация от астролога Людмилы Ясиной </a>
                </div>
            
            </div>
            <div class="boxcontent1">
                <div class="text1">Школа ведической астрологии Людмилы Ясиной</div>
            </div>
            <div class="boxtext2">Ваша натальная карта – это настоящая энциклопедия о человеке, записанная в 12 домах гороскопа Внутри есть ответ на любой ваш вопрос</div>
        </div>
        <div class="page1bot">
            <div class="bookpage1"></div>
            <div class="content-bot-text1">Авторское астрологическое пособие: "Ретроградные планеты в вашей карте. Какие задачи они вам ставят" В ПОДАРОК</div>
            <div class="oval-podarok">
                <a href="#" class="text-oval-podarok">Получить ПОДАРОК</a>
            </div>
            <div class="saleconsult">Розыгрыш бесплатной мини консультации</div>
            <div class="oval2"></div>
            <a href="#" class="ovaltext-2">Посмотреть список тем</a>
            <div class="iconsocial">
                <a class="youtube" href="https://www.youtube.com/channel/UCORcdUdIcRwMVjagv_H1I9Q"></a>
                <a class="telegram" href="https://t.me/LAstroproekt"></a>
                <a class="vk" href="https://vk.com/vedaastra"></a>
            </div>
            <div class="footer_page1"><p>@ 2023 Частичное или полное копирование информации с данного сайта для распространения
            на других ресурсах, в том числе и бумажных, строго запрещено. Все тексты и изображения являются
            собственностью сайта</p></div>
        <a class="questionsicon" href=""></a>
        <a class="vopros" href="">?</a>
        </div>
    </div>
</body>
</html>