{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L-ASTROPOEKT</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header_fotter/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_fotter/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<header>
    <a href="#">
        <div class="logo"></div>
    </a>
    <div class="navbar">

        <ul class="links">
            <li><a href="#">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="#">Обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
        </ul>
        <div class="togler_btn">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    <div class="line"></div>
    <div class="dropdown_menu ">
        <ul>
            <li><a href="#">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="#">обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
            <li><a href="#" class="action_btn">Записаться на курсы</a></li>
        </ul>
    </div>
</header>

<body>
    <main>
        <div class="block_1">
            <div class="master_class">
                <h1>Мастер-классы</h1>
            </div>
            <div class="online_practikum">
                <p>Онлайн-практикум</p>
                <p>“Секреты детского гороскопа”</p>
            </div>
            <div class="postroim_nat_karty">
                <p> Вместе мы построим натальную карту Вашего ребенка и разберем основные позиции в ней. Вы проведете
                    время
                    с максимальной пользой, оказавшись в нужное время и в нужном месте! </p>
                <div class="lico_detei">
                    <img src="{% static 'img/master_class/children-playing-grass 1.png' %}" alt="GIF-анимация">
                </div>
            </div>
            <div class="zanimate_mesta">
                <p>Занимайте места на нашем онлайн-практикуме </p>
                <p>уже сейчас!</p>
            </div>
            <div class="vtechen_3_chasov">
                <p>В течение 3 часов вы узнаете:</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Какие секции и виды спорта оптимально подходят?</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Что больше подходит вашему ребенку: активная командная игра или сосредоточенное индивидуальное
                    занятие?</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Как развить положительные черты характера и уменьшить проявление негативных?</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Как помочь справиться с эмоциональными перегрузками?</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Какие особенности характера могут проявиться у ребенка?</p>
            </div>
            <div class="punkt_uznaem">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Что будет мотивировать вашего ребенка?</p>
            </div>
            <div class="master_class_ludmila">
                <p> Мастер-класс будет проводить Людмила Ясина - практикующий ведический астролог, консультант и
                    преподаватель, основатель школы астрологии L-астропроект.</p>
            </div>
            <div class="vazhno">
                <p> ВАЖНО ❗ </p>
                <p>Для построения натальной карты перед началом мастер-класса вам необходимо подготовить следующие
                    данные ребенка: дата, место и точное время рождения.</p>
            </div>
            <div class="garantia">
                <p>Гарантии: если вам не понравится этот мастер-класс, то я готова вернуть вам деньги!
                </p>
            </div>
            <div class="cena">
                <p>ЦЕНА: 890р.</p>
            </div>
            <div class="svyzatsy">
                <p>СВЯЗАТЬСЯ ДЛЯ УЧАСТИЯ</p>
            </div>
            <div class="linia"></div>
        </div>
        <div class="block_intensiv">
            <div class="intensiv">
                <p>Интенсив </p>
                <p> “Секреты денег в гороскопе”</p>
            </div>
            <div class="intesiv2dnei">
                <p>Двухдневный интенсив по 2 часа в день</p>
            </div>
            <div class="danyi_klass">
                <p>Данный мастер-класс в формате видео-записи и поэтому приступить вы сможете сразу после оплаты.</p>
            </div>
        </div>
        <div class="block3">
            <div class="oblast">
                <div class="orange_kvadrat">
                    <p>день</p>
                    <h1>1</h1>
                </div>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Узнаете некоторые факты об астрологии Джйотиш.</p>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Построите натальную карту и определите свой восходящий знак.</p>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Получите подробные рекомендации по активации денежного потока для своего восходящего знака.</p>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Исследуете финансовую сферу своего гороскопа — 2 дом и планеты в нем.</p>
            </div>
            <div class="oblast">
                <div class="orange_kvadrat">
                    <p>день</p>
                    <h1>2</h1>
                </div>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Узнаете подробно о подходящим вам дополнительном доходе.</p>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Поймете какой бизнес вам подходит и подходит ли вам бизнес вообще.</p>
            </div>
            <div class="text_3bloka">
                <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="GIF-анимация">
                <p>Будем разбираться с дополнительным доходом: какие варианты приумножения денег подходят именно вам.</p>
            </div>
            <div class="vazhno">
                <p> ВАЖНО ❗ </p>
                <p>Для построения натальной карты перед началом мастер-класса вам необходимо подготовить следующие
                    данные ребенка: дата, место и точное время рождения.</p>
            </div>
            <div class="cena">
                <p>ЦЕНА: 890р.</p>
            </div>
            <div class="svyzatsy">
                <p>СВЯЗАТЬСЯ ДЛЯ УЧАСТИЯ</p>
            </div>
        </div>
    </main>
    <footer>


        <div class="social">
            <img src="{% static 'img/free-icon-youtube-2111795 1.png' %}" alt="">
            <img src="{% static 'img/free-icon-vkontakte-4494490 1.png' %}" alt="">
            <img src="{% static 'img/free-icon-telegram-4701496 1.png' %}" alt="">
        </div>
        <div class="krug">
            <div class="vopros">?</div>
        </div>
        <div class="avtor_prava">
            <div class="text_prav">© 2023 Частичное или полное копирование информации с данного сайта для
                распространения на
                других ресурсах, в том числе и бумажных, строго запрещено. Все тексты и изображения являются
                собственностью
                сайта</div>
        </div>

    </footer>
    <script src="{% static 'js/header.js' %}"></script>


</body>

</html>

