{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/traning.css' %}">
    <title>Document</title>
</head>

<body>
<header>
    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>
    <div class="navbar">

        <ul class="links">
            <li><a href="{% url 'traning' %}">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="{% url 'about_me' %}">обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
        </ul>
        <div class="togler_btn">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    <div class="line"></div>
    <div class="dropdown_menu ">
        <ul>
            <li><a href="#">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="#">обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
            <li><a href="#" class="action_btn">Записаться на курсы</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="sect_block">
        <div class="Traning_curs">
            <h1>ОБУЧАЮЩИЕ КУРСЫ</h1>
        </div>
        <div class="kvadrat_kartinki"></div>
        <div class="block_kart">
            <img src="{% static 'img/traning/AstroSTART.jpg' %}" alt="" class="AstroSTRART_IMG">
            <img src="{% static 'img/traning/финансы и богатс.jpg' %}" alt="" class="Finans_bogat_IMG">
            <img src="{% static 'img/traning/астрология просто.jpg' %}" alt="" class="Asto_prost_IMG">

        </div>

        <div class="ho4y_kurs">
            <p>хочу на курс!</p>
        </div>
        <div class="zapis_kurs">
            <p>Запись на курсы происходи предоплате.</p>
            <p class="new_line"> Доступна рассрочка.</p>
        </div>
        <div class="linebott1sect"></div>
    </div>
    <div class="vtor_block">
        <div class="kurs_astroSTART">
            <p>Курс “AstroSTART”</p>
        </div>
        <div class="pro_astrostart">
            <p> Этот курс - это первое знакомство с миром астрологии. Но уже после него многое в жизни встанет на
                свои места. Курс состоит из вводного занятия и шести подробных уроков.</p>
        </div>
        <div class="lico_astroST">
            <img src="{% static 'img/traning/лицо астро старт.png' %}" alt="">
        </div>
        <div class="plan_obuchenia">
            <p>План обучения:</p>
        </div>
        <div class="pervoe_AS section">
            <h1>1</h1>
            <p>Учитесь строить натальные карты. Например, свою или близкого человека.</p>
        </div>
        <div class="vtoroe_AS section">
            <h1>2</h1>
            <p>Проходите уроки по разбору 5 основных планет: Солнца, Луны, Венеры, Марса и Меркурия. И сразу, на примере
                построенной карты, изучаете их влияние и энергии. Узнаете за что они отвечают и как их положение влияет
                на Вашу жизнь.</p>
        </div>
        <div class="tretie_AS section">
            <h1>3</h1>
            <p>Понимаете как применять полученные знания на практике: чтобы улучшить материальное положение, отношения с
                близким человеком или детьми.</p>
        </div>
        <div class="chetvertoe_AS section ">
            <h1>4</h1>
            <p>В итоге — умеете раскрывать сильные стороны и таланты человека зная дату и место его рождения.</p>
        </div>
        <div class="pytoe_AS section">
            <h1>5</h1>
            <p>А также понимаете насколько Вам близка наука Астрология и куда двигаться дальше.</p>
        </div>
        <div class="zapistsa">
            <p>Записаться</p>
        </div>
        <div class="linebott1sect"></div>
    </div>
            <div class="treti_block">
            <div class="finasy_bogatstvo">
                <p>Курс “Финансы и Богатство”</p>
            </div>
            <div class="nakurse_uznaem">
                <p>На курсе вы узнаете:</p>
            </div>
            <div class="punkty">
                <p>• Основные и важные понятия Джйотиш.</p>
                <p>• Характеристики всех планет и домов гороскопа.</p>
                <p>• Ваши финансовые блоки в натальной карте и как гармонизировать эти положения .</p>
                <p>• Какими энергиями вы сможете легко получать постоянный доход и как его укрепить .</p>
            </div>
            <div class="lico_finansy">
                <div class="punkty2">
                    <p>• Какой бизнес подходит и откуда может быть дополнительная прибыль. </p>
                    <p>• Успешны ли вы в капиталовложениях и в какие сферы вам лучше вкладывать свои финансы. </p>
                    <p>• О сфере завещаний, наследства, алиментов и денег от партнера (партнеров) и возможность получать
                        чужие ресурсы.</p>
                    <p>• Как избежать долгов и кредитов.</p>
                </div>
                <img src="{% static 'img/traning/лицо фанинсы.png' %}" alt="">
            </div>

            <div class="krasivie_punkty">
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>1</h1>
                    </div>
                    <p>Прямые эфиры с разбором <br> натальных карт участников курса</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>2</h1>
                    </div>
                    <p>Первая самостоятельная консультация в конце обучения</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>3</h1>
                    </div>
                    <p>Постоянная поддрежка педагога в чате</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>4</h1>
                    </div>
                    <p>Неограниченный по времени доступ к урокам</p>
                </div>
            </div>
            <div class="result5ned">
                <p> Уже на 5-й неделе обучения вы определите свой постоянный источник дохода и найдете свои
                    дополнительные денежные сферы, поймете какой бизнес для вас вас будет успешным и по душе! Этот курс
                    — глубокое погружение. Информация даётся понятным языком и даже новички в астрологии быстро
                    усваивают и разбираются в нюансах </p>
            </div>
            <div class="zapistsa">
                <p>Записаться</p>
            </div>
            <div class="linebott1sect"></div>

        </div>
</main>
<script src='{% static "js/header.js" %}'></script>
</body>

</html>