{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/traning.css' %}">
    <title>Document</title>
</head>

<body>
<header>
    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>
    <div class="navbar">

        <ul class="links">
            <li><a href="{% url 'traning' %}">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="{% url 'about_me' %}">обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
        </ul>
        <div class="togler_btn">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    <div class="line"></div>
    <div class="dropdown_menu ">
        <ul>
            <li><a href="#">Обучающие курсы</a></li>
            <li><a href="#">Мастер-классы</a></li>
            <li><a href="#">Бесплатные астрологические продукты</a></li>
            <li><a href="#">Обо мне</a></li>
            <li><a href="#">Консультация от астролога Людмилы Ясиной</a></li>
            <li><a href="#" class="action_btn">Записаться на курсы</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="sect_block">
        <div class="Traning_curs">
            <h1>ОБУЧАЮЩИЕ КУРСЫ</h1>
        </div>
        <div class="kvadrat_kartinki"></div>
        <div class="block_kart">
            <img src="{% static 'img/traning/AstroSTART.jpg' %}" alt="" class="AstroSTRART_IMG">
            <img src="{% static 'img/traning/финансы и богатс.jpg' %}" alt="" class="Finans_bogat_IMG">
            <img src="{% static 'img/traning/астрология просто.jpg' %}" alt="" class="Asto_prost_IMG">

        </div>

        <div class="ho4y_kurs">
            <p>хочу на курс!</p>
        </div>
        <div class="zapis_kurs">
            <p>Запись на курсы происходи предоплате.</p>
            <p class="new_line"> Доступна рассрочка.</p>
        </div>
        <div class="linebott1sect"></div>
    </div>
    <div class="vtor_block">
        <div class="kurs_astroSTART">
            <p>Курс “AstroSTART”</p>
        </div>
        <div class="pro_astrostart">
            <p> Этот курс - это первое знакомство с миром астрологии. Но уже после него многое в жизни встанет на
                свои места. Курс состоит из вводного занятия и шести подробных уроков.</p>
        </div>
        <div class="lico_astroST">
            <img src="{% static 'img/traning/лицо астро старт.png' %}" alt="">
        </div>
        <div class="plan_obuchenia">
            <p>План обучения:</p>
        </div>
        <div class="pervoe_AS section">
            <h1>1</h1>
            <p>Учитесь строить натальные карты. Например, свою или близкого человека.</p>
        </div>
        <div class="vtoroe_AS section">
            <h1>2</h1>
            <p>Проходите уроки по разбору 5 основных планет: Солнца, Луны, Венеры, Марса и Меркурия. И сразу, на примере
                построенной карты, изучаете их влияние и энергии. Узнаете за что они отвечают и как их положение влияет
                на Вашу жизнь.</p>
        </div>
        <div class="tretie_AS section">
            <h1>3</h1>
            <p>Понимаете как применять полученные знания на практике: чтобы улучшить материальное положение, отношения с
                близким человеком или детьми.</p>
        </div>
        <div class="chetvertoe_AS section ">
            <h1>4</h1>
            <p>В итоге — умеете раскрывать сильные стороны и таланты человека зная дату и место его рождения.</p>
        </div>
        <div class="pytoe_AS section">
            <h1>5</h1>
            <p>А также понимаете насколько Вам близка наука Астрология и куда двигаться дальше.</p>
        </div>
        <div class="zapistsa">
            <p>Записаться</p>
        </div>
        <div class="linebott1sect"></div>
    </div>
            <div class="treti_block">
            <div class="finasy_bogatstvo">
                <p>Курс “Финансы и Богатство”</p>
            </div>
            <div class="nakurse_uznaem">
                <p>На курсе вы узнаете:</p>
            </div>
            <div class="punkty">
                <p>• Основные и важные понятия Джйотиш.</p>
                <p>• Характеристики всех планет и домов гороскопа.</p>
                <p>• Ваши финансовые блоки в натальной карте и как гармонизировать эти положения .</p>
                <p>• Какими энергиями вы сможете легко получать постоянный доход и как его укрепить .</p>
            </div>
            <div class="lico_finansy">
                <div class="punkty2">
                    <p>• Какой бизнес подходит и откуда может быть дополнительная прибыль. </p>
                    <p>• Успешны ли вы в капиталовложениях и в какие сферы вам лучше вкладывать свои финансы. </p>
                    <p>• О сфере завещаний, наследства, алиментов и денег от партнера (партнеров) и возможность получать
                        чужие ресурсы.</p>
                    <p>• Как избежать долгов и кредитов.</p>
                </div>
                <img src="{% static 'img/traning/лицо фанинсы.png' %}" alt="">
            </div>

            <div class="krasivie_punkty">
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>1</h1>
                    </div>
                    <p>Прямые эфиры с разбором натальных карт участников курса</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>2</h1>
                    </div>
                    <p>Первая самостоятельная консультация в конце обучения</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>3</h1>
                    </div>
                    <p>Постоянная поддрежка педагога в чате</p>
                </div>
                <div class="kvadrat_kras_punkt">
                    <div class="cifra">
                        <h1>4</h1>
                    </div>
                    <p>Неограниченный по времени доступ к урокам</p>
                </div>
            </div>
            <div class="result5ned">
                <p> Уже на 5-й неделе обучения вы определите свой постоянный источник дохода и найдете свои
                    дополнительные денежные сферы, поймете какой бизнес для вас вас будет успешным и по душе! Этот курс
                    — глубокое погружение. Информация даётся понятным языком и даже новички в астрологии быстро
                    усваивают и разбираются в нюансах </p>
            </div>
            <div class="zapistsa">
                <p>Записаться</p>
            </div>
            <div class="linebott1sect"></div>
        <div class="chetvert_block">
            <div class="Astrolog_prosto">
                <p>Курс “Астрология ПРОСТО”</p>
            </div>
            <div class="pro_astro_prosto">
                <p> Ведическая астрология ДЖЙОТИШ ПРОСТЫМ И ПОНЯТНЫМ ЯЗЫКОМ покажет вам новый мир возможностей.</p>
                <br>
                <p> В нем нет места сомнениям в себе и страху — но есть четкий алгоритм действий,
                    который поможет каждому из нас построить свою систему процветания!</p>
            </div>
            <div class="nakurse_nauchimsy">
                <p>За 22 недели обучения вы научитесь:</p>
            </div>
            <div class="lico_astro_prosto">
                <img src="{% static 'img/traning/лицо астропросто .png' %}" alt="">
                <div class="punkty_astro_prosto">
                    <p>• Давать характеристику любому человеку по натальной карте. </p>
                    <p>• Читать кармические задачи и таланты по натальной карте. </p>
                    <p>• Выводить предназначение по натальной карте.</p>
                    <p>• Делать синастрию (совместимость) партнеров по браку или бизнес-партнеров.</p>
                    <p>•Базово трактовать любую карту по всем сферам жизни.</p>
                    <p>• Давать рекомендации по гармонизации сфер жизни.</p>
                    <p>• Делать прогнозы на месяц, год и более.</p>
                </div>
            </div>
            <div class="krasivie_punkty_2">
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>1</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Введение. Основы основ. Характеристика планет. Описание восходящих знаков. <br>
                    Результат: <br>
                    Понимание картины мира, знание законов кармы. Построение натальной карты. Характеристика планет.
                    Значение домов в натальной карте.
                    Определение восходящего и лунного знака.
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>2</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Гармонизация судьбы. Баланс личности. <br>
                    Результат: <br>
                    Определение текущих энергий планет в карте и гармонизация их влияний на энергетическом уровне. Также
                    усиление энергий планет камнями, мантрами, цветом. Определяем силу дома (соответствующую сферу
                    жизни) в карте. Узнаете о факторах, дополнительно влияющих на дома (караки, дигбалы, аспекты) и
                    факторах, усиливающих и ослабляющих планеты (экзальтация, дебиляция, пограничные градусы). Узнаем о
                    понятии ретроградности планет и способах ее гармонизации
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>3</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Дело жизни. Предназначение. Кармические задачи. Таланты. <br>
                    Результат: <br>
                    Глубокое понимание своих сильных и слабых сторон, талантов, профессии. Понимание сфер жизни, в
                    которых легко придет успех и как проработать проблемные ситуации. Как усилить вашу личность и
                    сделать ее более успешной. Выясним, что вам больше подходит: быть домохозяйкой, работать на кого то
                    или строить свой бизнес. В этом модуле акцент сделан на одну из самых важных тем в астрологии —
                    кармические задачи и таланты. Кармические задачи мы рассмотрим и по лунному узлу Раху, и по планете
                    души Атма Караке, таланты рассмотрим и по лунному узлу Кету, и по планете души — и все это будем
                    смотреть в разных картах — Раси, Лунной. Изучим дробные карты Навамшу и Дашамшу. Узнаете об этике
                    консультирования.
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>4</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Финансы: доходы, накопления, инвестиции, страховки, завещания, алименты.<br>
                    Результат:<br>
                    Сможете оценить финансовое состояние. Определить сферы и энергии, влияющие на финансовые накопления,
                    доходы, дополнительные финансовые доходы. Сможете оценить возможности и риски в сфере
                    инвестирования, брокерства и пр. доходов, связанных с вложением средств. Рассмотрим сферу
                    кредитования и долгов, какие энергии и сферы активизируют эту сферу и как избежать долгов.
                    Несистемные доходы: завещания, страховки, а также доходы от партнера, алименты. Узнаете способы
                    улучшения финансового благополучия и увидите новые способы заработка.
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>5</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Душа и подсознание. Солнце и Луна. Гармонизация психологического состояния, прокачка лидерства,
                    позитива и здоровья. Глубокое изучение тем: полнолуние, новолуние, лунные сутки, растущая и
                    убывающая Луна, солнечное и лунное затмения, планетная война и сожжение планет. Чара караки -
                    дополнительные функции планет. <br> <br>
                    Результат:
                    Более глубинное самопознание и изучение природы личности. Поймете особенности людей, рожденных в
                    особые положения Луны и Солнца и получите способы гармонизации: затмения, полнолуние, новолуние.
                    Сможете охарактеризовать по знанию чара карак людей, которые окружают человека.
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>6</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Предсказательная астрология. Прогноз по планетным периодам, по транзитам планет. Определение
                    благоприятности и силы транзита. Совместимость и синастрия. <br>
                    Результат: <br>
                    Научитесь понимать, как на каждом уровне жизни поддерживать баланс, быть счастливым и гармонично
                    проходить кризисные периоды, как максимально реализовывать свое предназначение в разные периоды
                    своей жизни. Научитесь делать астрологические прогнозы на месяц вперед, год и более. Научитесь
                    смотреть совместимость между партнерами по бизнесу и личной жизни.
                </div>
                <div class="kvadrat_kras_punkt_2">
                    <div class="cifra_2">
                        <h1>7</h1>
                        <p>модуль</p>
                    </div>
                </div>
                <div class="Text_k_modulym">
                    Продвижение и монетизация <br>
                    Результат: <br>
                    Поймете как упаковать свои продукты, как продавать их офлайн и онлайн. Сможете сформировать свою
                    продуктовую линейку. Поборите страх продаж. Разберетесь с рекламой и продвижением.
                </div>
            </div>
            <div class="kak_pohod_obuch">
                <p>КАК ПРОХОДИТ ОБУЧЕНИЕ</p>
            </div>
            <div class="text_kakprohodit_obuchen">
                <h1>СМОТРИ ОНЛАЙН ИЗ ЛЮБОЙ ТОЧКИ МИРА В УДОБНОЕ ВРЕМЯ</h1>
                <p>Нужен только компьютер/мобильное устройство и доступ в интернет</p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="text_kakprohodit_obuchen">
                <h1>УДОБНАЯ ОНЛАЙН ПЛАТФОРМА</h1>
                <p>Уроки в личном кабинете на закрытой платформе - смотри <br>сколько угодно раз, пока открыт доступ к
                    курсу
                </p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="text_kakprohodit_obuchen">
                <h1> УРОКИ В ФОРМАТЕ ВИДЕО-ЛЕКЦИИ</h1>
                <p>К урокам прилагается методичка</p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="text_kakprohodit_obuchen">
                <h1>ДОМАШНИЕ ЗАДАНИЯ</h1>
                <p>Применяем информацию из уроков на практике и получаем результат</p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="text_kakprohodit_obuchen">
                <h1>ОБРАТНАЯ СВЯЗЬ</h1>
                <p>Ежедневная поддержка в чатах + живые онлайн-вебинары</p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="text_kakprohodit_obuchen">
                <h1>ФИНАЛЬНЫЕ ТЕСТИРОВАНИЯ</h1>
                <p>Практика начинается после третьего месяца обучения, мы предоставляем клиентов, которые платят деньги.
                    А по окончании обучения у вас будет экзамен на реальном клиенте.</p>
            </div>
            <div class="linebott1sect_obuch"></div>
            <div class="zapistsa">
                <p>Записаться</p>
            </div>
        </div>
        <footer>
            <div class="social">
                <img src="{% static 'img/free-icon-youtube-2111795 1.png' %}" alt="">
                <img src="{% static 'img/free-icon-vkontakte-4494490 1.png' %}" alt="">
                <img src="{% static 'img/free-icon-telegram-4701496 1.png' %}" alt="">
            </div>
            <div class="krug">
                <div class="vopros">?</div>
            </div>
            <div class="avtor_prava">
                <div class="text_prav">© 2023 Частичное или полное копирование информации с данного сайта для распространения на
                    других ресурсах, в том числе и бумажных, строго запрещено. Все тексты и изображения являются собственностью
                    сайта</div>
                </div>
        </footer>
        </div>
</main>
<script src='{% static "js/header.js" %}'></script>
</body>

</html>